* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    padding-top: 30px;
    font-family: Arial, Helvetica, sans-serif;
    line-height: 1.6;
    color: #333;
    background-color: white;
}

header.topo {
    display: flex;
    gap: 20px;
    flex-direction: row;
    align-items: center;
    padding: 20px;
    background-color: black;
}

#logo {
    border-radius: 50%;
}

header .topo-cabeçalho {
    color: white;
}

header .topo-paragrafo {
    padding-top: 20px;
    font-size: small;
}

header .contato-topo a, header .curriculo a {
    color: gray;
    text-decoration: none;
}

header .contato-topo a:hover, header .curriculo a:hover {
    text-decoration: underline;
}

.barra-de-navegação {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    background-color: black;
    z-index: 1000;
    padding: 10px 0;
}

.barra-de-navegação .link-de-navegação {
    display: flex;
    justify-content: center;
    gap: 20px;
    list-style: none;
}

.barra-de-navegação .link-de-navegação a {
    color: white;
    text-decoration: none;
    padding: 5px 10px;
}

.barra-de-navegação .link-de-navegação a:hover {
    text-decoration: underline;
}

main {
    background-color: black;
    color: white;
    padding: 30px;
    font-size: larger;
}

section.linguagens, section.projetos, section.estudos, section.certificados, section.formações, section.sobre-a-pagina {
    border: 0.5rem outset gray;
    border-radius: 12px;
    background-color: white;
    color: black;
    display: flex;
    padding: 20px;
    flex-direction: column;
}

section.linguagens h1, section.projetos h1, section.estudos h1, section.certificados h1, section.formações h1, section.sobre-a-pagina h1 {
    margin-bottom: 20px;
    font-size: medium;
}

.linguagens-lista, .projetos-lista, .estudos-lista, .certificados-lista, .formações-lista, .linguagens-pagina {
    font-size: small;
    display: flex;
    gap: 100px;
    justify-content: center;
    text-align: center;
    flex-wrap: wrap;
}

section .projeto-link a { 
    color: black;
    text-decoration: none;
}

section .projeto-link a:hover {
    text-decoration: underline;
}

.projeto-img {
    gap: 100px;
    padding-top: 10px;
}

section.metas {
    padding: 20px;
}

.sign {
    font-size: small;
}

section .repositorio-da-pagina a {
    color: black;
    text-decoration: none;
}

section .repositorio-da-pagina a:hover {
    text-decoration: underline;
}

footer {
    display: flex;
    flex-direction: column;
    padding: 20px;
    background-color: black;
    color: white;
}

footer.desenvolvedor a {
    color: gray;
    text-decoration: none;
}

footer.desenvolvedor a:hover {
    text-decoration: underline;
}

footer.desenvolvedor p {
    font-size: small;
    color: gray;
}